@use '../../../assets/clients/styles/variables' as *;
//HERO
.hero {

    position: relative;
    &__background {
        width: 100%;
        height: 400px;
        border-end-end-radius: 30px;
        border-end-start-radius: 30px;
    }

    &__content {
        position: absolute;
        top: 10px;
        width: 1200px;
        
    }

    &__title {
        color: white;
        text-transform: uppercase;
        text-align: center;
    }

    &__engine {
        background-color: $main-color;
        padding: 80px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    }

    &__search-group {
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 18px;
        i {
            position: absolute;
            top: 45px;
            left: 20px;
            
        }
        .search__inp {
            box-sizing: content-box;
            padding: 20px 20px 20px 50px;
            border-radius: 10px;
            border: solid 1px;
        }
    }

    &__filter {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        input, select {
            padding: 18px;
            border-radius: 10px;
        }
        &--date {
            width: 50%;
            input {
                width: 40%;
            }
        }
        &--room {
            width: 50%;
            display: flex;
            flex-direction: column;

        }
    }

    &__btn {
        width: 100%;
        margin-top: 50px;
        padding: 20px;
        border: none;
        background-color: $info-color;
        color: $main-color;
        font-size: 22px;
        border-radius: 10px;
    }
    
}

//END HERO

//ATTRACTIVE TRIPS 
.attractive {
    margin-top: 200px;

    &__list {
        display: flex;
        justify-content: space-between;
        
    }

    &__item {
        width: 200px;

        &--title, &--accommodation {
            text-align: center;
        }
    }

    &__img {
        width: 200px;
        border-radius: 10px;
    }

    
}
//END ATTRACTIVE TRIPS 

//FEATURED HOMES 
.featured {
    padding: 30px 0 30px 0;
    

    &__menu {

        display: flex;
            
        gap: 30px;
        padding: 10px 0px 18px 8px;
        &--item {
            
            color: $light-gray-color;
            font-weight: bold;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 20px;
            
        }

        &--item:hover {
            color:$info-color;
            background-color: #D1EDFF;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

    }

    &__item {
        padding: 10px;
    }

    &__desc {
        line-height: 0.8;

        &--star {
            color: $secondary-color;
        }

        &--price {
            color: $primary-color;
            font-weight: bold;
        }
    }

    &__img {
        width: 263px;
        height: 200px;
        border-radius: 15px;
    }
}

//END FEATURED HOMES 