


.footer {
    background-color: rgb(42, 42, 46);
    color: white;
    padding: 70px;

    &__desc {
        text-align: center;
    }

    &__menu {
        margin-top: 50px;
        ul {
            display: flex;
            justify-content: space-between;

            li {
                img {
                    width: 100px;
                }
            }
        }
    }
}