
.table {

    border-collapse: collapse;
    width: 100%;

    thead tr th {
        padding: 10px;
        font-weight: bold;
    }

    tbody {
        tr:nth-child(even) {
            background-color: rgb(194, 191, 191);
        }
        tr {
            td {
                padding: 10px;
            }
        }
    }
}