$primary-color: #EE363F; 
$secondary-color: #FCB716; 
$success-color: #07AF56; 
$accent-color: #A1479A; 
$info-color: #04A9DF;  
$font-stack: Godwit,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
