$primary-color: #EE363F;
$secondary-color: #FCB716;
$success-color: #07AF56;
$accent-color: #A1479A;
$info-color: #04A9DF;
$inner-color: #c0c0c0;
$main-color: rgb(255, 255, 255);

$font-stack: 'Arial';
