//Color
$primary-color: #EE363F;
$secondary-color: #FCB716;
$success-color: #07AF56;
$accent-color: #A1479A;
$info-color: #04A9DF;
$inner-color: #c0c0c0;
$light-gray-color: #5e6b82;
$main-color: rgb(255, 255, 255);

//break point
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

//font family
$font-stack: 'Arial';
